.container {
  height: 100%;
  padding: 1rem 18rem;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
}

.information {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.side_info {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1.5rem;
}

.battle_stats {
  background-color: #fff;
  border-radius: 0.5rem;
}

.pic {
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  align-items: center;
  width: 100%;
}

.description {
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: #fff;
  border-radius: 0.75rem;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  grid-gap: 1rem;
  padding: 0 2rem;
  padding-bottom: 1rem;
}

.sectionTitle {
  margin: 1rem 0;
  text-align: center;
  font-family: var(--font-montserrat);
  text-transform: uppercase;
  font-size: 1rem;
}

.type {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #c4c4c4;
  border-radius: 0.25rem;
  padding: 0.5rem;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.ability {
  background-color: #c4c4c4;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font-roboto);
  border-radius: 0.615rem;

  padding: 0.5rem;
}

.ability h1,
.ability p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.ability h1 {
  font-size: 1.25rem;
}

.ability p {
  font-size: 0.75rem;
}

.type_icon {
  width: 3rem;
  height: 3rem;
}

.type h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  font-size: 1.125rem;
}

.details {
  padding: 0 1rem;
}

.detail {
  background-color: #c4c4c4;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  background-color: #a46767;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.evolution {
  background-color: #fff;
  border-radius: 0.5rem;
}

.pics_wrapper {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

.state {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.state span {
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.stats {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat {
  display: flex;
  align-items: center;
}

.stat_bar_wrapper {
  position: relative;
  width: 100%;
  background-color: #2d2d2d;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.stat_bar_wrapper h1 {
  position: absolute;
  z-index: 1;
  top: -100%;
  right: 40%;
  color: #000;
}

.stat_icon {
  width: 1.5rem;
  height: 1.5rem;
}

.legend {
  position: relative;
}

.legend .msg {
  position: absolute;
  visibility: hidden;
  z-index: 1;

  font-family: var(--font-roboto);
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  padding: 0.25rem 0.815rem;
  color: #fff;
  font-weight: 500;
}

.stat:hover .msg {
  visibility: visible;
}

.slot {
  width: 1.5rem;
  height: 1.5rem;
}
