.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  border: 1px solid red;
  padding: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;

  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;
}

.card h3 {
  text-transform: uppercase;
}
