@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
