.wrapper {
  background-color: rgb(237, 245, 248);
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;

  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1rem;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out, box-shadow 200ms ease-in-out;

  font-family: var(--font-montserrat);
  font-weight: bold;
  color: var(--blue-tone-dark);
  cursor: pointer;
}

.wrapper:hover {
  transform: translateY(-0.25rem);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);
}

.wrapper h3 {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.pic {
  width: 50%;
  margin: 0 auto;
}

.statistics {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue-tone-dark-light);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}

.stat {
  position: relative;
}

.value {
  display: flex;
  align-items: center;
}

.stat .tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 0.75rem;

  padding: 0.5rem;
  position: absolute;
  left: -25%;
  bottom: -170%;
  z-index: 1;

  font-size: 0.75rem;
  font-weight: bold;
  font-family: var(--font-montserrat);
  text-transform: uppercase;
}

.stat:hover .tooltip {
  visibility: visible;
}
